langchain
langchain-core
langchain-community
langchain-experimental
langgraph
ipykernel
streamlit
python-dotenv
pymupdf
rank_bm25
langchain-groq
pyowm
langchain-qdrant
transformers
torch
pytest
fpdf
reportlab
sentence-transformers
pypdf